body {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
  background: rgb(0,216,224);
  background: linear-gradient(90deg, rgba(0,216,224,1) 1%, rgba(7,65,149,1) 99%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);

}


button {

	cursor:pointer;
}


